<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicine.ima"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecoveryLoginActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".SendPassword"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ProgramList"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ClinicActivity"
            android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".HospitalActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".BlueOrGreenEditFormActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".BlueOrGreenEditFormActivity2"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".Document1Activity"
            android:label="@string/app_name" 
			android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".Document2Activity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>

        
        <activity
            android:name=".ProfileListActivity"
            android:label="@string/title_activity_profile_list"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        
        <activity
            android:name=".PopUpMenuActivity" android:theme="@style/Theme.Transparent"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>

		<activity
            android:name=".ResultFormListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.medicine.ima.calendar.CalendarActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
        </activity>
        
        </application>

</manifest>
